<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="loginFallido" class="org.upiita.spring.seguridad.LoginFallidoManejador">
		<property name="defaultFailureUrl" value="/login?errorLogin=true"></property>
	</bean>
	<bean id="loginExitoso" class="org.upiita.spring.seguridad.LoginExitosoManejador"/>
	
	<security:http use-expressions="true">

		<!-- soluciones ejercicio -->
		<security:intercept-url pattern="/blog/*/editar*"
			access="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')" />

		<security:intercept-url pattern="/blog/guardar*"
			access="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')" />

		<!-- soluciones ejercicio -->
		<security:intercept-url pattern="/usuario/*/editar*"
			access="hasAnyRole('ROLE_ADMIN')" />

		<security:intercept-url pattern="/usuario/guardar*"
			access="hasAnyRole('ROLE_ADMIN')" />

		<!-- default-target-url: LA URL A LA QUE LOS ENVIA SI ENTRAN DIRECTAMENTE 
			AL /login SIN PASAR POR UN URL PROTEGIDA -->
		<security:form-login login-page="/login"
			login-processing-url="/autentificar" username-parameter="email"
			password-parameter="password" default-target-url="/blog/1"
			authentication-failure-url="/login?errorLogin=true"
			authentication-failure-handler-ref="loginFallido" 
			authentication-success-handler-ref="loginExitoso"/>

		<security:logout logout-url="/logout"
			logout-success-url="/blog/1" />

		<!-- SOBRESCRIBE LA PANTALLA DEFAULT EN UN ERROR 403 -->
		<security:access-denied-handler
			error-page="/error-403" />

	</security:http>

	<security:authentication-manager
		erase-credentials="false">
		<security:authentication-provider>

			<!-- <security:user-service> <security:user name="juan@email.com" password="1234" 
				authorities="ROLE_ADMIN" /> <security:user name="pepe@email.com" password="1234" 
				authorities="ROLE_EDITOR" /> </security:user-service> -->

			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="SELECT email,password,activo FROM usuarios WHERE email=?"
				authorities-by-username-query="SELECT email, rol FROM usuarios WHERE email=?" />

		</security:authentication-provider>
	</security:authentication-manager>


</beans>
